body {
    color: #376bbf;
    border: black solid 1px;
    width: 350px;
    height: 100%;
    overflow: hidden;
}

.escondido {
    display: none;
}

#selecionarImagem {
    border: #376bbf solid 1px;
    border-radius: 20px;
}

#pSelecionarImagem {
    display: flex;
    align-items: center;
    flex-direction: column;
}