body {
    color: #376bbf;
    border: black solid 1px;
}

.escondido {
    display: none;
}

#selecionarImagem {
    background-color: white;
    color: inherit;
    border: #376bbf solid 1px;
    border-radius: 10px;
    box-shadow: 0 1px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

#selecionarImagem:active {
    background-color: #376bbf;
    color: white;
}